<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<fieldset
	class="space-y-4 md:space-y-6"
	[formGroup]="passwordConfirmationForm"
>
	<div>
		<label
			for="password"
			class="block mb-2 text-sm font-medium"
			[ngClass]="
				passwordConfirmationForm.get('password')?.dirty &&
				passwordConfirmationForm.get('password')?.touched &&
				passwordConfirmationForm.get('password')?.invalid
					? 'text-red-700 dark:text-red-500'
					: 'text-gray-900 dark:text-white'
			"
			>{{ passwordLabel }}</label
		>
		<input
			type="password"
			name="password"
			placeholder="••••••••"
			formControlName="password"
			class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700"
			[ngClass]="
				passwordConfirmationForm.get('password')?.dirty &&
				passwordConfirmationForm.get('password')?.touched &&
				passwordConfirmationForm.get('password')?.invalid
					? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500'
					: 'bg-gray-50 border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
			"
			[paramInvalidPopover]="passwordInvalidPopover"
		/>
		<p
			*ngIf="isConfirmationRequired"
			id="password-explanation"
			class="mt-2 text-sm text-gray-500 dark:text-gray-400"
		>
			Password must contain at least one uppercase letter, one lowercase letter, and one
			number.
		</p>
		<div
			#passwordInvalidPopover
			data-popover
			id="popover-password-invalid"
			role="tooltip"
			class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
		>
			<div
				class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
			>
				<h3 class="font-semibold text-gray-900 dark:text-white">Hint</h3>
			</div>
			<div class="px-3 py-2">
				<p *ngIf="passwordConfirmationForm.get('password')?.errors?.['required']">
					Password is required.
				</p>
				<p *ngIf="passwordConfirmationForm.get('password')?.errors?.['minlength']">
					Password must be at least
					{{
						passwordConfirmationForm.get('password')?.errors?.['minlength']
							?.requiredLength
					}}
					characters long.
				</p>
				<p *ngIf="passwordConfirmationForm.get('password')?.errors?.['pattern']">
					Password must contain at least one uppercase letter, one lowercase letter, and
					one number.
				</p>
			</div>
			<div data-popper-arrow></div>
		</div>
	</div>
	<div *ngIf="isConfirmationRequired">
		<label
			for="confirm-password"
			class="block mb-2 text-sm font-medium"
			[ngClass]="
				passwordConfirmationForm.get('passwordConfirmation')?.dirty &&
				passwordConfirmationForm.get('passwordConfirmation')?.touched &&
				passwordConfirmationForm.get('passwordConfirmation')?.invalid
					? 'text-red-700 dark:text-red-500'
					: 'text-gray-900 dark:text-white'
			"
			>{{ passwordConfirmationLabel }}</label
		>
		<input
			type="password"
			name="confirm-password"
			placeholder="••••••••"
			formControlName="passwordConfirmation"
			class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700"
			[ngClass]="
				passwordConfirmationForm.get('passwordConfirmation')?.dirty &&
				passwordConfirmationForm.get('passwordConfirmation')?.touched &&
				passwordConfirmationForm.get('passwordConfirmation')?.invalid
					? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500'
					: 'bg-gray-50 border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
			"
			[paramInvalidPopover]="passwordConfirmationInvalidPopover"
		/>
		<div
			#passwordConfirmationInvalidPopover
			data-popover
			id="popover-password-invalid"
			role="tooltip"
			class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
		>
			<div
				class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
			>
				<h3 class="font-semibold text-gray-900 dark:text-white">Hint</h3>
			</div>
			<div class="px-3 py-2">
				<p
					*ngIf="
						passwordConfirmationForm.get('passwordConfirmation')?.errors?.['mustMatch']
					"
				>
					Passwords must match.
				</p>
			</div>
			<div data-popper-arrow></div>
		</div>
	</div>
</fieldset>
