<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
	<h1
		class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
	>
		Request password reset
	</h1>
	<form
		class="space-y-4 md:space-y-6"
		[formGroup]="resetPasswordForm"
		(ngSubmit)="onSubmit()"
	>
		<div>
			<label
				for="email"
				class="block mb-2 text-sm font-medium"
				[ngClass]="
					resetPasswordForm.get('email')?.dirty &&
					resetPasswordForm.get('email')?.touched &&
					resetPasswordForm.get('email')?.invalid
						? 'text-red-700 dark:text-red-500'
						: 'text-gray-900 dark:text-white'
				"
				>Your email</label
			>
			<input
				type="email"
				name="email"
				id="email"
				placeholder="name@company.com"
				formControlName="email"
				class="border sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700"
				[ngClass]="
					resetPasswordForm.get('email')?.dirty &&
					resetPasswordForm.get('email')?.touched &&
					resetPasswordForm.get('email')?.invalid
						? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500'
						: 'bg-gray-50 border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
				"
				[paramInvalidPopover]="emailInvalidPopover"
			/>
			<div
				#emailInvalidPopover
				data-popover
				id="popover-email-invalid"
				role="tooltip"
				class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
			>
				<div
					class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
				>
					<h3 class="font-semibold text-gray-900 dark:text-white">Hint</h3>
				</div>
				<div class="px-3 py-2">
					<p *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
						Email is required
					</p>
					<p *ngIf="resetPasswordForm.get('email')?.errors?.['email']">
						Email must be a valid email address
					</p>
				</div>
				<div data-popper-arrow></div>
			</div>
		</div>
		<button
			type="submit"
			class="w-full text-white bg-primary-600 disabled:bg-blue-400 hover:bg-primary-700 disabled:hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 disabled:dark:bg-blue-500 dark:hover:bg-primary-700 disabled:hover:dark:bg-blue-500 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
			[disabled]="resetPasswordForm.invalid || (isLoading$ | async)"
		>
			<svg
				*ngIf="isLoading$ | async"
				aria-hidden="true"
				role="status"
				class="inline w-4 h-4 mr-3 text-white animate-spin"
				viewBox="0 0 100 101"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
					fill="#E5E7EB"
				/>
				<path
					d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
					fill="currentColor"
				/>
			</svg>
			Reset password
		</button>
	</form>
</div>

<div
	id="confirmationEmailModal"
	tabindex="-1"
	class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<div class="p-6 text-center">
				<svg
					class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 20 20"
				>
					<path
						d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"
					/>
				</svg>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
					We have sent you an email with a confirmation link. Please check your inbox and
					click on the link to confirm your password reset.
				</h3>
			</div>
		</div>
	</div>
</div>
