<!-- Carousel -->
<div class="relative w-full">
	<!-- Carousel wrapper -->
	<div class="relative h-56 overflow-hidden rounded-lg sm:h-64 xl:h-80 2xl:h-96">
		<!-- Item 1 -->
		<div
			#carouselItem1
			id="carousel-item-1"
			class="hidden duration-700 ease-in-out"
		>
			<img
				class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
				height="1080"
				width="1920"
				alt="..."
				[ngSrc]="images[0]"
			/>
		</div>
		<!-- Item 2 -->
		<div
			#carouselItem2
			id="carousel-item-2"
			class="hidden duration-700 ease-in-out"
		>
			<img
				class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
				height="1080"
				width="1920"
				alt="..."
				[ngSrc]="images[1]"
			/>
		</div>
		<!-- Item 3 -->
		<div
			#carouselItem3
			id="carousel-item-3"
			class="hidden duration-700 ease-in-out"
		>
			<img
				class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
				height="1440"
				width="1920"
				alt="..."
				[ngSrc]="images[2]"
			/>
		</div>
		<!-- Item 4 -->
		<div
			#carouselItem4
			id="carousel-item-4"
			class="hidden duration-700 ease-in-out"
		>
			<img
				class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
				height="1080"
				width="1920"
				alt="..."
				[ngSrc]="images[3]"
			/>
		</div>
	</div>
	<!-- Slider indicators -->
	<div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
		<button
			#carouselIndicator1
			id="carousel-indicator-1"
			type="button"
			class="w-3 h-3 rounded-full"
			aria-current="true"
			aria-label="Slide 1"
		></button>
		<button
			#carouselIndicator2
			id="carousel-indicator-2"
			type="button"
			class="w-3 h-3 rounded-full"
			aria-current="false"
			aria-label="Slide 2"
		></button>
		<button
			#carouselIndicator3
			id="carousel-indicator-3"
			type="button"
			class="w-3 h-3 rounded-full"
			aria-current="false"
			aria-label="Slide 3"
		></button>
		<button
			#carouselIndicator4
			id="carousel-indicator-4"
			type="button"
			class="w-3 h-3 rounded-full"
			aria-current="false"
			aria-label="Slide 4"
		></button>
	</div>
	<!-- Slider controls -->
	<button
		#dataCarouselPrev
		id="data-carousel-prev"
		type="button"
		class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
	>
		<span
			class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
		>
			<svg
				class="w-4 h-4 text-white dark:text-gray-800"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 6 10"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M5 1 1 5l4 4"
				/>
			</svg>
			<span class="hidden">Previous</span>
		</span>
	</button>
	<button
		#dataCarouselNext
		id="data-carousel-next"
		type="button"
		class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
	>
		<span
			class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
		>
			<svg
				class="w-4 h-4 text-white dark:text-gray-800"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 6 10"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m1 9 4-4-4-4"
				/>
			</svg>
			<span class="hidden">Next</span>
		</span>
	</button>
</div>

<!-- Modal toggle -->
<button
	data-modal-target="defaultModal"
	data-modal-toggle="defaultModal"
	class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
	type="button"
>
	Toggle modal
</button>

<!-- Main modal -->
<div
	id="defaultModal"
	tabindex="-1"
	aria-hidden="true"
	class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
	<div class="relative w-full max-w-2xl max-h-full">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<!-- Modal header -->
			<div
				class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
			>
				<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
					Terms of Service
				</h3>
				<button
					type="button"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
					data-modal-hide="defaultModal"
				>
					<svg
						class="w-3 h-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 14 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
						/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-6 space-y-6">
				<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
					With less than a month to go before the European Union enacts new consumer
					privacy laws for its citizens, companies around the world are updating their
					terms of service agreements to comply.
				</p>
				<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
					The European Union’s General Data Protection Regulation (G.D.P.R.) goes into
					effect on May 25 and is meant to ensure a common set of data rights in the
					European Union. It requires organizations to notify users as soon as possible of
					high-risk data breaches that could personally affect them.
				</p>
			</div>
			<!-- Modal footer -->
			<div
				class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
			>
				<button
					data-modal-hide="defaultModal"
					type="button"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				>
					I accept
				</button>
				<button
					data-modal-hide="defaultModal"
					type="button"
					class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
				>
					Decline
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Dropdown -->
<button
	id="dropdownDefaultButton"
	data-dropdown-toggle="dropdown"
	class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
	type="button"
>
	Dropdown button
	<svg
		class="w-2.5 h-2.5 ml-2.5"
		aria-hidden="true"
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 10 6"
	>
		<path
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="m1 1 4 4 4-4"
		/>
	</svg>
</button>

<div
	id="dropdown"
	class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
>
	<ul
		class="py-2 text-sm text-gray-700 dark:text-gray-200"
		aria-labelledby="dropdownDefaultButton"
	>
		<li>
			<a
				href="#"
				class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
			>
				Dashboard
			</a>
		</li>
		<li>
			<a
				href="#"
				class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
			>
				Settings
			</a>
		</li>
		<li>
			<a
				href="#"
				class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
			>
				Earnings
			</a>
		</li>
		<li>
			<a
				href="#"
				class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
			>
				Sign out
			</a>
		</li>
	</ul>
</div>
